body {
  margin: 0;
  background-color: lightblue;
}

#start-btn {
  background-color: lightseagreen;
  color: white;
  padding: 20px;
  font-size: 20px;
  margin-top: 40px;
  border-radius: 10px;
}

.restart-btn {
  background-color: lightseagreen;
  color: white;
  padding: 20px;
  font-size: 20px;
  margin-top: 40px;
  border-radius: 10px;
}

.new-game-btn {
  background-color: lightseagreen;
  color: white;
  padding: 20px;
  font-size: 20px;
  margin-top: 40px;
  border-radius: 10px;
}

.pause-btn {
  background-color: lightcoral;
  color: white;
  padding: 20px;
  font-size: 20px;
  margin-top: 10px;
  border-radius: 10px;
  margin-right: 300px;
}

.reset-btn {
  background-color: lightseagreen;
  color: white;
  padding: 20px;
  font-size: 20px;
  margin-top: 10px;
  border-radius: 10px;
  margin-right: -300px;
  margin-bottom: -77px;
}

.points-counter {
  background-color: lightsalmon;
  border-color: black;
  border-style: solid;
  border-radius: 10px;

  color: white;
  padding: 20px;
  font-size: 20px;

  margin-top: 10px;
  margin-left: 650px;
  margin-top: -750px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

#game-box {
  background-color: darkgray;
  width: 500px;
  height: 700px;
  border-color: black;
  border-style: solid;

  overflow: hidden;
  position: relative;
  user-select: none;

  background-image: url("/images/background_kitchen.jpg");
  background-position: center;
  background-size: cover;
}

#game-screen,
#gameover-screen,
#gamewin-screen {
  display: none;
}
