body {
  margin: 0;
  background-image: url("../images/background.png");
  background-position: center;
  background-size: cover;
  background-color: lightblue;
}

#start-btn {
  background-color: lightgreen;
  padding: 20px;
  margin-top: 40px;
  position: relative;
  top: -60px;

  color: black;
  text-shadow: 2px 2px white;
  font-family: pacifico;
  font-size: 20px;

  border: 3px solid black;
  border-radius: 10px;
}

.restart-btn {
  background-color: lightgreen;
  padding: 20px;
  margin-top: 40px;
  position: relative;
  top: 310px;

  color: black;
  font-family: pacifico;
  font-size: 20px;

  border: 3px solid black;
  border-radius: 10px;
}

.new-game-btn {
  background-color: lightgreen;
  padding: 20px;
  margin-top: 40px;
  position: relative;
  top: 260px;

  color: black;
  text-shadow: 2px 2px white;
  font-family: pacifico;
  font-size: 20px;

  border-radius: 10px;
  border: 3px solid black;
}

.pause-btn {
  background-color: lightslategray;
  padding: 10px 20px;
  position: relative;
  left: -200px;
  top: 530px;

  color: white;
  text-shadow: 2px 2px black;
  font-family: pacifico;
  font-size: 20px;

  border: 3px solid black;
  border-radius: 10px;
}

.reset-btn {
  background-color: lightcoral;
  padding: 10px 20px;
  position: relative;
  right: -200px;
  top: 590px;

  color: white;
  font-size: 20px;
  font-family: pacifico;
  text-shadow: 2px 2px black;

  border: 3px solid black;
  border-radius: 10px;
}

.points-counter {
  background-color: lightgreen;
  padding: 20px;
  position: relative;
  right: -350px;
  bottom: 500px;

  color: black;
  font-size: 20px;
  font-family: pacifico;
  text-shadow: 2px 2px white;

  border: 3px solid black;
  border-radius: 10px;
}

.level-counter {
  background-color: lightgoldenrodyellow;
  padding: 20px;
  position: relative;
  right: -350px;
  bottom: 500px;

  color: black;
  font-size: 20px;
  font-family: pacifico;

  border: 3px solid black;
  border-radius: 10px;
}

.momo-image {
  width: 170px;
  height: auto;
  position: relative;
  left: 350px;
  top: 150px;
}

.wanted-mochi {
  width: 170px;
  height: auto;
  position: relative;
  top: -160px;
  border-color: black;
  border-style: solid;
  border-radius: 10px;
}

.mugshot-mochi {
  width: 350px;
  height: auto;
  position: relative;
  top: -170px;
  border-color: black;
  border-style: solid;
  border-radius: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.container p {
  color: rgb(247, 106, 211);
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    2px 2px 0 white;
  font-family: pacifico;
  font-size: 30px;
  text-align: center;
  position: relative;
  top: -60px;
}

#game-box {
  background-color: darkgray;
  width: 500px;
  height: 700px;

  border-color: black;
  border-style: solid;
  margin-bottom: -600px;

  overflow: hidden;
  position: relative;
  user-select: none;

  background-image: url("../images/background_kitchen.jpg");
  background-position: center;
  background-size: cover;
}

#game-screen,
#gameover-screen,
#gamewin-screen {
  display: none;
}

.two-hearts,
.one-heart {
  display: none;
}

.three-hearts,
.two-hearts,
.one-heart {
  width: 130px;
  height: 35px;
  position: relative;
  top: 640px;
}
